---
import MainLayout from '@/layouts/MainLayout.astro';
import BannerSection from '@/components/Home/BannerSection.astro';
import CategorySection from '@/components/Home/CategorySection.astro';

import { loadQuery } from '@/sanity/lib/loadQuery';
import type { SanityDocument } from '@sanity/client';
import { GET_ALL_CATEGORIES } from '@/sanity/query';

const {data: categoryList} = await loadQuery<SanityDocument[]>({
    query: GET_ALL_CATEGORIES,
});
---

<MainLayout>
	<div class="min-h-svh">
		<BannerSection />
		{
			categoryList?.map(category => 
				<CategorySection category={category} />
			)
		}
	</div>
</MainLayout>
