---
import { Image } from 'astro:assets';
import { loadQuery } from '@/sanity/lib/loadQuery';
import type { SanityDocument } from '@sanity/client';
import { GET_ALL_CATEGORIES } from '@/sanity/query';

const {data: categoryList} = await loadQuery<SanityDocument[]>({
    query: GET_ALL_CATEGORIES,
});
---

<header class="min-h-full font-display border-b-4 pb-2">
	<nav class="bg-background">
		<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pt-4">
			<div class="h-16 flex items-center justify-between">
				<div class="w-full flex items-center justify-start">
					<div class="hidden lg:block relative flex flex-row">
						<input class="h-12 w-[200px] border border-[3px] border-gray-600 rounded-full text-lg py-2 pl-3 pr-[40px]" placeholder="Search" />
						<div class="absolute right-4 top-3">
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-7">
								<path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
							</svg>
						</div>
					</div>
				</div>
				<div class="w-full flex items-center justify-center">
					<div class="relative bottom-2">
						<a href="/">
							<Image src="/images/brand-logo-black.png" alt="Brand Logo" width="148" height="42" />
						</a>
					</div>
				</div>
				<div class="w-full flex items-center justify-end">
					<div class="lg:hidden block cursor-pointer">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-9">
							<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
						</svg>				  
					</div>
					<button class="hidden lg:block h-12 bg-primary text-primary-foreground flex justify-center items-center px-4 rounded-full">						
						Subscribe
					</button>
				</div>
			</div>
		</div>
	</nav>
	
	<div class="hidden md:flex w-full mt-6 justify-center item-center">
		<ul class="flex flex-row gap-4">
				<li class="active font-semibold border-0 border-b-4 border-black">
					<a href={`/`}>
						All
					</a>
				</li>
				{
					categoryList?.map((category) =>
						<li>
							<a href={`/category/${category?.slug}`}>
								{category?.name}
							</a>
						</li>
					)
				}
		</ul>
	</div>
</header>